[2016-09-14 08:44] arunoda opened #2 "Move codebase to React CDK"
Use [React CDK](https://github.com/kadirahq/react-cdk) as the build tool generator.

[2016-09-14 09:03] arunoda opened #3 "Update PeerDependancies"
Current we've this:

[code]

I think we need to set React to some higher version as the `ReactTestRenderer` comes recently. Not sure, is it work with older React versions?

For Kadira, we need to support the version where we add getStorybook tool. Try looking at our chanelog for that version.

[2016-09-21 09:46] arunoda opened #5 "Add JSDOM environment and other common JS pollyfills"
Here's the sample:

[code]

[2016-09-21 09:47] arunoda opened #6 "Error in a story should break the test"
Error is a story shouldn't break any other tests.

We should also provide an option called `--ignore-errors` which simply discard stories with errors.

[2016-09-21 09:53] arunoda opened #7 "Allow a way to add custom window/global polyfills"
Usually there are many window and global APIs developers use.
We can't give polyfills for all. But for common APIs.
So, we should let developers add their own polyfills.

We need to add a `myAPI` to the global namespace and `myOtherAPI` to window.
Then we create a filename called `polyfills.js` as below:

[code]

After that, we add this via `testsnapshots --polyfills=./polyfills.js` file

Now our

[2016-09-21 09:59] arunoda opened #8 "Add a way to ignore stories"
This is just like the -g option, but we ignore stories instead filtering them.

[2016-09-21 11:01] arunoda opened #9 "Allow to get a custom location to save and read snapshots"
Saving snapshots in a custom location is helpful for many reasons. We should have this.

[2016-09-22 08:00] arunoda commented on #7
Implemented via https://github.com/kadirahq/storyshots/pull/10

[2016-09-22 08:00] #7 closed

[2016-09-22 08:00] arunoda commented on #5
Implemented via https://github.com/kadirahq/storyshots/pull/10

[2016-09-22 08:00] #5 closed

[2016-09-22 08:01] arunoda commented on #3
Fixed via https://github.com/kadirahq/storyshots/pull/10

[2016-09-22 08:01] #3 closed

[2016-09-22 08:45] arunoda commented on #2
Now master branch uses it.

[2016-09-22 08:45] #2 closed

[2016-09-22 13:48] roonyh opened #15 "Use correct exit code"
Return a non zero exit code when at least one test failed.

[2016-09-22 22:35] arunoda opened #16 "Write tests for core components"
Now everything is modular. So we can have some tests to make sure PRs won't break StoryShots.

[2016-09-23 10:48] MrOrz opened #17 "Does not work with react-storybook-addon-info"
If a story is added with `addWithInfo`, the test will fail with the following error:

[code]

Steps to reproduce:

[code]

[2016-09-23 11:23] MrOrz opened #18 "Read resolve settings from webpack config"
We have some directories other than `node_modules` in `resolve.modules` in our webpack config, including JS and non-JS assets. While non-JS assets can be handled by implementing loaders, we cannot do the same to JS -- implementing JS loaders like `loaders.js = filename => getCorrectPath(filename)` breaks the entire JS loading mechanism.

Projects like [eslint](https://github.com/benmosher/eslint-p

[2016-09-23 12:01] ronderksen opened #19 "require.context is not a function"
In my Storybook config, I use the following code to gather all the stories:

[code]

Which is documented here: https://getstorybook.io/docs/basics/writing-stories

However, when I run storyshots, I get an error saying that require.context is not a function.

[2016-09-23 23:12] arunoda commented on #19
Yes. That's true.
We need to add support for that.
@roonyh check we can use something like this: https://www.npmjs.com/package/enhanced-require inside node.

[2016-09-23 23:13] arunoda commented on #18
Yes. I think this is something we can do.

[2016-09-23 23:15] arunoda commented on #17
Seems like a React related issue. We will have a look at this.

[2016-09-24 15:46] roonyh commented on #17
@arunoda it was a bug in our code :( Submitted the fix at #20

[2016-09-26 02:56] MrOrz commented on #17
I updated storyshots to the latest version and now it is working :)
Thank you so much for the fix and your rapid response!

[2016-09-26 02:56] #17 closed

[2016-09-26 23:44] #8 closed

[2016-09-28 01:08] #15 closed

[2016-09-28 17:33] MrOrz commented on #18
Thanks for the reply.

I have fulfilled my need using [`babel-plugin-module-resolver`](https://github.com/tleunen/babel-plugin-module-resolver) and preparing a `.babelrc` that mimics the webpack's resolve configuration. Here is what it looks like:

[code]

[2016-09-29 04:04] MrOrz opened #29 "Needs reporter support"
Currently the test result is directly dumped into process.stdout.
However, in order to integrate with CI, reporters like junit XML formats is required.

[2016-09-29 13:28] roonyh commented on #29
Yeah we did not gave it a much thought. And at the moment we are more focused on extending the support for complex webpack setups. So adding an api that support reporters is not a priority.

I think this will not prevent it from using in common CI's like circle ci or travis though? I am not familiar with junit XML formats.

But it would be cool to have reporters working with this. So pull requests

[2016-09-29 20:57] trevordmiller commented on #19
I'm using the config directly from the documentation and getting this error when running `storyshots` directly without any modifications:

# Documentation

https://getstorybook.io/docs/basics/writing-stories)
![screen shot 2016-09-29 at 2 49 35 pm](https://cloud.githubusercontent.com/assets/5497885/18971878/02b1782a-8654-11e6-9319-c725265857b2.png)

# .storybook/config.js

![image](https://cloud.g

[2016-09-29 23:42] arunoda commented on #19
@trevordmiller Yep. That's an issue becuse now we are running stories in NodeJS. It don't have require.context.

We have a fix for that and landing to storyshots soon: https://github.com/kadirahq/storyshots/pull/30

[2016-09-30 11:55] roonyh commented on #19
@ronderksen @trevordmiller, Released version 1.1.2 with #30. It should be able to support using`require.context` inside storybook's main config file(`.storybook/config.js`).

[2016-09-30 18:14] arunoda commented on #19
Guys, we had a [regression](https://github.com/kadirahq/storyshots/pull/30#issuecomment-250805615) for this issue and we revert `v1.1.2`.

We were looking at some [alternate solution](https://github.com/kadirahq/storyshots/pull/30#issuecomment-250814311) and it'll work great.

[2016-10-04 14:00] arunoda opened #32 "Add NODE_PATH support"
We added NODE_PATH support to React Storybook where you can import modules directly inside the app.

So, we should add it to storyshots too.
See: https://github.com/kadirahq/react-storybook/pull/528

[2016-10-05 18:18] AsaAyers opened #34 "Jest complains about extra snapshot files"
I'm using Storybook and Jest (`create-react-app` + `getstorybook`). When I run `npm test`, Jest identifies there are snapshot files with no associated tests and asks to remove them.

[code]

[2016-10-05 23:25] arunoda commented on #34
May be you could save Jest's snapshots in a different location.

[2016-10-07 09:55] roonyh commented on #34
It looks like jest picks up directories named `__snapshots__` where ever they are. `jest-snapshots` at the moment does not provide a way to change this name. I will look into this. Maybe will have to send them a PR.

[2016-10-07 18:23] AsaAyers commented on #34
Here are the steps to reproduce the issue.

[code]

At this point `npm test` fails every time because it finds the `.storybook/__snapshots__/`. the `NODE_ENV=test` seems to be a fairly new thing from `create-react-app`. I don't know much about it except it needed to be there for this to run.

[2016-10-07 23:29] kentcdodds opened #35 "code coverage?"
I imagine it would be reasonable to do considering Jest has such great support for code coverage.

I'd love to be able to specify what directory to put the coverage report, which files to instrument for coverage, and the global threshold (to fail the script if we aren't at that threshold).

Let me know if/where I can help.

[2016-10-08 20:46] tleunen opened #36 "0 stories tested?"
Trying to test `storyshots` inside a project but it gives me 0 stories tested.

The way I'm running storybook is like that: `start-storybook -p 9001 -s ./.storybook/public`
And storyshots is just 'storyshots'.

Am I missing anything?

[2016-10-08 22:49] arunoda commented on #36
It's hard to tell like this.
Are you using require.context?

It's better we can have something to try out locally.

[2016-10-08 22:57] tleunen commented on #36
Yes sorry, forgot that this project was using the context... (Unfortunately I can't share the project).

Here's the line:

[code]

[2016-10-09 00:18] arunoda commented on #36
@roonyh Hey, checkout our require.context implementation satisfy this.
If not, let's do a fix.

[2016-10-09 00:30] tleunen commented on #36
My regex is based on a path, but storyshots tests it on the filename only
See https://github.com/kadirahq/storyshots/blob/master/src/require_context.js#L10

[2016-10-09 00:34] tleunen commented on #17
hey @roonyh, I'm still having an issue with the latest version.

[code]

[2016-10-09 02:39] roonyh commented on #36
@tleunen Spot on! Submitted a fix at #37. Will publish soon.

[2016-10-09 02:40] #36 closed

[2016-10-09 02:45] roonyh commented on #36
@tleunen Published v1.1.5 with the fix.

[2016-10-09 03:17] brandonmp opened #38 "How do I use jest.mock ?"
Because of some strange jest behavior w/ material-ui, I have to mock a component to do a snapshot test:

`jest.mock('material-ui/toggle')`

How can I do this while using storyshot?

[2016-10-09 03:48] roonyh commented on #38
storyshots does not have jest's mocking abilities. But it might work without the mock. Did you get an error while running storyshots? Could you show the error if so?

[2016-10-09 14:28] tleunen commented on #17
Ok it seems that for storyshots, the order is important in the config file, so loading the addon first is very important :)

[2016-10-09 15:31] brandonmp commented on #38
sure, i posted [the issue at the Material-UI repo](https://github.com/callemall/material-ui/issues/5354) w/ the error output

after some research, it looks like there's a bug in React that prevents snapshot testing of components that rely on `refs`. Since MUI's `toggle` uses a ref, it breaks the snapshot generation.

when i make a regular `jest test`, i can call `jest.mock('material-ui/toggle')` i

[2016-10-09 15:34] brandonmp commented on #38
here's my `story`:

[code]

here's the error output for the `storyshot`

[code]

[the file this is referencing is from material-ui](https://github.com/callemall/material-ui/blob/master/src/internal/EnhancedSwitch.js)

[2016-10-10 10:00] roonyh commented on #38
Thanks for the detailed information!

I understand the problem now and have reproduced it myself. I can implement a permanent solution once react 15.4 is out with facebook/react#7649. Unfortunately, until then I am not sure what I can do about this :(

It will be better to wait for 15.4 and do a good solution than doing something hacky right now. But I will look a bit into this.

[2016-10-10 11:30] roonyh commented on #34
@AsaAyers Thanks! Error is reproduced and I am working on a solution.

`jest-snapshot` version 16.0.0 does allow a custom location with a custom extension be used for snapshot files. I am updating its version on jest-16 branch.

@arunoda if we change the extension to something other than `.snap` this problem will go away. How to handle cleaning up of remaining `.snap` files? I guess we will just l

[2016-10-10 11:58] arunoda commented on #34
@roonyh yep. It's time for a major release.
And let's put a note on the README on how to migrate.

May be we can provide a script to move old snapshots into new.
We could also detect them and prompt the user to apply that.

[2016-10-10 15:17] AsaAyers commented on #34
When upgrading my own project, it seems reasonable to just
1. verify my snapshots with the current version
2. upgrade storyshots
3. run the new storyshots and have it save new snapshots

Since I'm not changing my components at the same time, I can be sure I didn't break anything. I don't think it seems worth any extra work to try to convert existing snapshots.

[2016-10-11 09:08] roonyh commented on #34
@AsaAyers, Published v2.0.0. Could you try it out?

I added those steps [here](https://github.com/kadirahq/storyshots/blob/master/CHANGELOG.md#migrating-from-1xx) in the change log.

[2016-10-11 09:20] roonyh commented on #9
Fixed with #40

[2016-10-11 09:20] #9 closed

[2016-10-11 16:37] AsaAyers commented on #34
Thanks! I just upgraded storyshots in my project and it solved the problem.

[2016-10-11 16:37] #34 closed

[2016-10-20 12:46] barakcoh opened #42 "Support React-Native"
Hi

I have a bunch of stories in my project and `react-native-storybook` is working great. However, when I try to use storyshots (`npm run test-storybook`) I get `ReferenceError: __DEV__ is not defined` presumably because storyshots doesn't actually execute jest (and so doesn't load the `jest-react-native` preset).

Would it be possible to add support for React Native?

[2016-10-20 23:12] arunoda commented on #42
@roonyh any plans on this?

[2016-10-21 05:14] roonyh commented on #42
I didn't try out storyshots with React Native. I think we can support it. Taking look now.

[2016-10-23 07:20] udiedrichsen opened #43 "Is it possible to add a feature to skip some stories ?"
I really like storyshots 👍

It would to great if its possible to mark some stories. So that these stories are ignored by
storyshots. During the normal work are some components changing very often, but
other one are pretty stable. I suggest something:

storiesOf('Test', module)
  .ignoreStoryshots()
  .add( .... )

and for some stories "storyshots" just throws an error:
✗ Profile: ERROR
  TypeError

[2016-10-23 10:34] barakcoh commented on #42
great, looking forward to your feedback

[2016-10-23 14:42] arunoda commented on #43
Hey, we can't have an API in the storybook for this.
But we already have a solution.

Check the [-g and -x options](https://github.com/kadirahq/storyshots/blob/master/src/cli.js#L22).

[2016-10-23 14:42] #43 closed

[2016-10-24 05:32] udiedrichsen commented on #43
Great 👍
Works perfect 💯

E.g:
npm run --silent storyshots -x '^_X_'

I just miss one think in the test summary:
Test Summary

just a wish :-)

Storybook is just amazing and together with storyshoot a dream team.
Thanks for this toolkit 👍

[2016-10-24 06:11] roonyh opened #44 "Show the number of stories excluded in the summary"
In the summary show the number of stories excluded when `-x` option is used.

like so,

[2016-10-24 06:17] roonyh commented on #43
@udiedrichsen, Created a new issue to track that: #44

About the error: At the moment storyshots cannot work with stories that access `reactDom` because of an compatibility between react-test-render and react-dom. If a component you are using from a library calls `reactDom`'s methods then storyshots might give errors. Some of them will be fixed when we update react to 15.4.

[2016-10-27 01:44] shenrenguo opened #45 "Invariant Violation: ReactCompositeComponent: injectEnvironment() can only be called once."
sorry, not provide sufficient information.

**.storybook/config.js**

[code]

**.storybook/webpack.config.js**

[code]

**package.json** :

[code]

script cmd :->  "storybook": "start-storybook -p 9001 -s ./public"  can work correctly. but
when i run script cmd :-> "test:storybook": "storyshots", it shows error message below:

=> Loading custom .babelrc
Invariant Violation: ReactCompositeComponent

[2016-10-27 03:32] arunoda commented on #45
Not sure what's happening here.
We need a way to reproduce locally.
May be a sample project?

[2016-10-27 03:32] arunoda commented on #45
Or the steps to reproduce this.

[2016-10-28 12:21] FranciscoGileno opened #46 "Error: Using babel-preset-react-app requires that you specify NODE_ENV or BABEL_ENV environment variables."
Hi.

I have storybook added in my project and I am trying to add storyshots to it. However I am getting this error:

[code]

Here is part of my package.json

[code]

And my config.js

[code]

Any clue? Thanks.

[2016-10-28 13:56] 0xR commented on #45
I have the same issue when I run `npm run test-storybook`.

My repo: https://github.com/xebia/styled-react-app

[2016-10-28 17:02] AsaAyers opened #47 "Error when `.shot` file contains a story that isn't present"
As we saw in #34, Jest will complain if there are extra snapshots. It would be very helpful if Storyshots would do the same.

In one of my projects a story was removed in one PR, but we didn't run storyshots with `-u`. Now a few PRs later the `.shots` files picked up that change.

[2016-10-30 01:21] dannief opened #48 "Support for Typescript tsx files"
The documentation says that storyshots only loads .js and json files. My stories and components are written using Typescript and thus have a file extension of .tsx. Does this mean that the only way to work with storyshots is to first transpile the files to .js first. Will tsx files be supported in the future? Any other work-arounds?
Any help is appreciated. Thanks.

[2016-11-01 20:51] ericclemmons opened #49 "Ignore .md, .mdown .markdown as well"
These are common extensions when using addons that include markdown files, but need to be ignored when running `storyshots`.

[2016-11-03 05:01] roonyh commented on #49
You can provide [custom loaders](https://github.com/kadirahq/storyshots#provide-custom-loaders) for those. If you are proposing they should be handled by default, a PR with a suitable mock loader is most welcome :) https://github.com/kadirahq/storyshots/blob/master/src/default_config/loaders.js

[2016-11-03 06:52] roonyh commented on #46
Sorry about the late response. For now you can do `NODE_ENV=test npm run test-storybook`. I will look into this.

[2016-11-03 12:39] FranciscoGileno commented on #46
Thanks.

It solved the issue, but it is not running any test.

[code]

Even though I have some stories created and running on Storybook. Am I missing something?

[2016-11-03 17:09] roonyh commented on #46
Could you try updating storyshots to the latest version? That might fix this.
Also could you give me the content of your `.storybook/config.js` file?

[2016-11-03 17:55] FranciscoGileno commented on #46
I updated storybook and storyshots, and the issue persists:

[code]

And my config is:

[code]

I quick update on this, changing the config to the static version worked:

[code]

Since I have many stories, it would be better loading them automatically, but that seems to break storyshots.

Thanks for your feedback.

[2016-11-03 19:04] AsaAyers opened #51 "Importing jpg,png,gif,etc uses an absolute path"
Storybook is saying that one of my stories is failing because the path changed:

[code]

I was able to fix it with a custom loader, but I think this should work by default. I'd open a PR, but I don't know how to find `projectRoot` in a way that should work consistently across projects.

[code]

[2016-11-04 02:21] ericclemmons commented on #49
Thanks @roonyh!  I like to open issues before submitting PRs to ensure I don't violate scope of the project.

(I have several OSS projects myself)

Since this is a welcome change, I'll work on a PR.  Thanks!

[2016-11-05 05:27] arunoda opened #53 "Move storyshots to run inside JEST directly."
This will help us to use storyshots for RN easily.
With this, we'll have all the features of JEST and we don't need to implement them for storyshots.

[2016-11-07 08:40] roonyh commented on #46
There was a small bug with the default regexp of `require.context`. Thanks for reporting :) Fixed it in #55. Version 2.0.2 should work fine for you. Could you try updating to it?

Also 2.0.2 sets the `NODE_ENV` by default. So you dont have to set it manually. Just `npm run test-storybook` should work.

[2016-11-07 12:04] FranciscoGileno commented on #46
It worked! Thank you very much!

[2016-11-07 13:17] #46 closed

[2016-11-08 03:23] ericclemmons commented on #51
I agree.  @AsaAyers what I've been using is stripping `process.cwd()` from the paths.  Works perfectly!

I just submitted a PR ( #56 ) that will setup scaffolding to make it easier to   work on this.

However, it _would_ be considered a breaking change, but deservedly so.

[2016-11-14 13:15] SpaceK33z commented on #45
I can also reproduce this. It happens when you use `require.context` in `.storybook/config.js`. The docs use this snippet:

[code]

And that works, as long as you have only one file that ends with `.stories.js`. As soon as there is more than one file, you'll get the `injectEnvironment` error.

[2016-11-17 12:04] SpaceK33z commented on #45
Debugged this a bit more, it isn't an issue in `require.context` after all. It also happens when require-ing two or more story files:

[code]

[2016-11-18 01:48] arunoda commented on #45
cc @roonyh

[2016-11-18 02:57] roonyh commented on #45
It should be related to https://github.com/facebook/react/issues/7386

We [replace](https://github.com/storybooks/storyshots/blob/master/bin/run_storyshots.js#L10) react-dome with a mock react-dom as a workaround to this problem. I guess somehow thats not working here.

@SpaceK33z Do you use react-dom api in your stories?

[2016-11-29 20:49] ericclemmons opened #58 "TypeError: w.default.findDOMNode is not a function"
When testing with , I get the following error for anything wrapped by a `@componentQueries` (which uses https://github.com/ctrlplusb/react-sizeme):

[code]

I assume that I need to mock the DOM node somehow?

Has anyone else had issues with testing out DOM-dependent components like this?

[2016-11-30 02:14] arunoda commented on #58
cc @roonyh

[2016-12-01 07:02] chrbala commented on #38
Is there progress on this? 15.4 is out now.

[2016-12-01 07:09] chrbala opened #59 "Global decorators don't work when applied in config file"
I am using addDecorator for a few context-providing components. It works when I apply them via storiesOf(...).addDecorator, or globally in a story.

However, global decorators seem to be ignored entirely when applied in the config file.

I am using storybook@2.33.1 and storyshots@2.1.0.

[2016-12-01 11:13] usulpro commented on #19
still have this issue.
Maybe there is a way to exclude some files from storyshorts?

[2016-12-05 11:21] SpaceK33z commented on #45
The issue seems to be fixed with React 15.4.0 :). My multiple stories run again via storyshots.

[2016-12-06 11:12] SpaceK33z opened #60 "Show storyshots in UI"
It would be great if the storyshot tests were visible in the Storybook UI, like [storybook-addon-specifications](https://github.com/mthuret/storybook-addon-specifications). At the moment the storyshots are not in the same "development flow", because you have to open your terminal each time to see the storyshots.

A next step would be to have a button you can click to update the storyshot if it fai

[2016-12-07 19:53] jasonmorganson commented on #58
In React@v15.4.0 `create` takes an extra argument to provide mocked refs.

This looks like the place to pass it in: https://github.com/storybooks/storyshots/blob/master/src/test_runner/snapshot_runner.js#L60

Still need a good way to pass the mock into the story though. Maybe something like:

[code]

For that to work [`react-storybook`](https://github.com/storybooks/react-storybook) will have to s

[2016-12-11 08:38] benzaita commented on #18
I just added PR #62 which allows you to use your current webpack configuration.

[2016-12-12 19:35] chrish-21 opened #63 "Storyshots crashes when it finds differences"
Hi, Storyshots keeps crashing for me after testing when it found differences in the snapshots.

This is what happens when I run "npm run test-storybook"
- The first time the snapshots are created
- I run it again without changes and it works and tells me that the stories matched the snapshots
- I make a change and run it, and it gives me the test results but then it crashes. The output is the foll

[2016-12-21 01:21] rmevans9 commented on #42
Any update on this? Was just going to try it out and everything fell apart (hard dependency on react-storybook). I would love to see this work with React Native

[2016-12-21 13:00] roonyh commented on #42
@rmevans9 We are planning to facilitate running storyshots within jest. See #61. This allows storyshots to be used with RN inside jest. I think since jest works well with RN this is a good approach.

[2016-12-21 13:14] rmevans9 commented on #42
Perfect - thanks for the update @roonyh!

[2016-12-21 16:35] danieltott commented on #63
I have this same problem (minus the install problems). Using create-react-app, all my dependencies are up to date. Running on Sierra, with node v6.9.1

[2016-12-21 16:43] chrish-21 commented on #63
I'm pretty sure now that my install problems are an unrelated problem. This happened now on a few different projects with different packages and I often have to run the install command twice.

So the second part of my initial post is irrelevant, however the original problem still exists for me.

[2016-12-22 01:46] roonyh commented on #63
@chrish-21 Storyshots works like any other test tool. If the snapshots does not match that is a test fail. So it reports it by returning a non zero exit code. This helps for example ci services to report back to you a test failure. This is not storyshots crashing. Its the expected behaviour.

[2016-12-22 01:49] #49 closed

[2016-12-22 14:10] arunoda commented on #53
Yep. It's here: https://github.com/storybooks/storyshots

[2016-12-22 14:10] #53 closed

[2016-12-22 14:10] arunoda commented on #42
Guys, we published [Storybook 3](https://github.com/storybooks/storyshots) today as @roonyh mentioned.
I hope we could close this now.

[2016-12-22 14:10] #42 closed

[2016-12-22 23:17] tleunen opened #66 "Could not load stories - require.context is not a function"
After updating the libraries and creating the storyshots test file, I'm having this error.
[code]

The thing is, the file exists. So after hacking the code and displaying the true error, I can see this one:
[code]
And indeed, my config file has a require.context function to automatically include all the stories in my source directory for the storybook.

It seems storyshots doesn't do anything with

[2016-12-22 23:31] arunoda commented on #66
@roonyh is there anything we can do about this?
I hope we can do something here.

And it's better to display the actual error message as well.

[2016-12-23 02:25] MrOrz commented on #29
Seems that storyshots 3.0.0 is integrated with jest, using jest's reporter, which connects with CI painlessly. Hooray!

[2016-12-23 02:25] #29 closed

[2016-12-23 08:42] kitze commented on #66
@arunoda I'm hitting the same problem.

Here's my storybook config:
[code]

And here's [the error](http://jmp.sh/DvHTm0H) I'm getting.

[2016-12-23 11:14] chrish-21 commented on #63
Oh, okay didn't know that, thank you! Always something new to learn ;)

[2016-12-23 11:14] #63 closed

[2016-12-23 22:56] #66 closed

[2016-12-23 22:58] arunoda commented on #66
Released #67 with `v3.1.0`
I hope it'll fix this issue.

[2016-12-23 23:05] tleunen commented on #66
Confirmed, fixed :)

[2016-12-23 23:37] kitze opened #68 ".addDecorator is probably not working"
I'm using material-ui in my project for some of the components. The components that are not affected by material-ui and don't need muiTheme pass the tests. But the other components that need muiTheme provided by context, are failing with a warning ```Warning: Failed context type: The context `muiTheme` is marked as required in `CircularProgress`, but its value is `undefined`.```

Keep in mind that

[2016-12-24 00:07] arunoda commented on #68
@roonyh what do you think about this issue?

[2016-12-27 05:21] roonyh commented on #68
@kitze I am taking a look. `addDecorator` works with simple wrappers but I guess something does not work with `context`. Have you used storyshots `2.x` versions successfully with your stories?

[2016-12-27 18:28] SpaceK33z commented on #47
This is no longer relevant since v3.0, since it now uses Jest for snapshotting.

[2016-12-27 18:29] SpaceK33z commented on #38
I believe this has been fixed in v3.0, because it now uses Jest for snapshotting.

[2016-12-30 10:23] roonyh commented on #16
This is regarding 2.X versions. Since we are moving forward with 3.0 and it does have integration tests I will close this.

[2016-12-30 10:23] #16 closed

[2016-12-30 10:33] lifeiscontent opened #71 "create-react-app"
When using a default create-react-app for storyshots, it seems to break.

I've got this code in `src/Storyshots.test.js`

[code]

the error in the test is

[code]

[2016-12-30 10:35] roonyh commented on #18
Since 3.0 we run storyshots within jest. I think jest supports most webpack stuff.

[2016-12-30 10:35] #18 closed

[2016-12-30 10:35] roonyh commented on #19
This is fixed in #67

[2016-12-30 10:35] #19 closed

[2016-12-30 10:36] roonyh commented on #35
Now we run storybook within jest! (from v 3.0)

[2016-12-30 10:36] #35 closed

[2016-12-30 10:37] roonyh commented on #38
Yep!

[2016-12-30 10:37] #38 closed

[2016-12-30 10:40] lifeiscontent commented on #71
figured it out, I needed a `.babelrc` that reflected the same presets as create react app

[2016-12-30 11:16] roonyh commented on #71
Glad it works! storyshots comes pre transpiled. So I think this is unrelated to storyshots. Anyway reopen if needed.

[2016-12-30 11:17] #45 closed

[2016-12-30 11:19] roonyh commented on #44
storyshots use jest from 3.0. So this is no longer relevant.

[2016-12-30 11:19] #44 closed

[2016-12-30 11:20] roonyh commented on #6
storyshots use jest from 3.0. Jest works in this way.

[2016-12-30 11:20] #6 closed

[2016-12-30 11:26] roonyh commented on #51
storyshots use jest from 3.0. Jest [seems to handle](https://facebook.github.io/jest/docs/tutorial-webpack.html) this properly. Will close since we are moving forward with 3.0's way of running storyshots.

[2016-12-30 11:26] #51 closed

[2017-01-03 15:13] cjpete commented on #46
Why is this restricted to just "development", "test", and "production"? What about QA/staging/preproduction deployments?

This seems unnecessarily restrictive, given that NODE_ENV could be any variation in many projects (dev, develop, prod, production).

[2017-01-06 03:25] dburles opened #73 "Add requestAnimationFrame to default polyfills"
Tests fail for components that reference `requestAnimationFrame`. Perhaps it can be added to the default polyfills?

Edit: Nevermind about my prior confusion

[2017-01-06 03:44] #73 closed

[2017-01-10 13:01] ToniChaz commented on #46
I have the same question. Why is this restricted? I have six environments and i cant´t configured .

[2017-01-12 20:38] kedoska commented on #71
I have the same issue.
@lifeiscontent where did you set up the `.babelrc`?

in my `__tests__` directory i have one file, _storyshots.js_

[code]

when i run `npm run test-storybook` everything works just fine
but, when i run _npm test_ or, in my case `CI=true npm test` it fails like this

![screenshot from 2017-01-12 15 35 31](https://cloud.githubusercontent.com/assets/11739105/21907240/c47a1572-d

[2017-01-15 14:56] kenta88 opened #74 "How to use with storybook-addon-knobs decorator?"
Hi everyone,

I started to use storyshots for Structural Testing inside a react storybook project.

Unfortunately I discovered that the new version of storyshots (3.2.0) doesn't work with decorator.
Here following an example of issue:

` ● Storyshots › Elements › Button

    TypeError: Cannot read property 'on' of null

      at WrapStory.componentDidMount (node_modules/@kadira/storybook-addon-kno

[2017-01-16 05:45] arunoda commented on #74
@roonyh could you have a look at this?

[2017-01-18 22:09] lewisf commented on #74
this looks like its affecting other addons as well. any idea when this will get released?

(talking about the merged linked ticket)

[2017-01-21 06:00] roonyh commented on #74
v3.2.1 carries a fix for this. Sorry about taking so long to release.

[2017-01-21 06:00] #74 closed

[2017-01-29 06:03] felquis opened #77 "Could not run tests exit with "dataId is not supplied via queryString""
How to reproduce
[code]
Then install deps `yarn`

Run `yarn test` then you will see.
![screen shot 2017-01-29 at 3 57 39 am](https://cloud.githubusercontent.com/assets/736728/22402279/c8fd783e-e5d7-11e6-9c9e-dddd239732c5.png)

Im not sure what is going on.

[2017-02-02 01:27] Fatxx commented on #71
Any solution here? Get in the same error

[2017-02-02 10:32] macrozone opened #78 "use with addons result in big snapshots"
when using with react-storybook-addon-info or decorators, the snapshot
will include the markup of these addons as well. This makes it harder to see the differences when a test fails. Is it possible to exclude addons from the snapshot?

[2017-02-02 10:58] marc-rutkowski commented on #78
Hello @macrozone ,

And sorry for the following shameless self-promotion...

I don't have found any solution for the problem when using decorators, but maybe you will want to try a [new addon](https://github.com/marc-rutkowski/storybook-addon-props) to replace addon-info.
Just publish it as a quick experimentation a few days ago and I will be very interested to have some feedback about it.

The cr

[2017-02-02 12:21] macrozone commented on #78
hi @marc-rutkowski thank you for your addon, i tested it, but it did not work (cannot read property "description" of undefined). There seems to be something not compatible. (filled an issue)

[2017-02-02 12:53] marc-rutkowski commented on #78
Thanks for testing it!
See my response into [the issue](https://github.com/marc-rutkowski/storybook-addon-props/issues/1).

[2017-02-02 13:01] Fatxx commented on #71
Could this issue be related to the command `react-scripts test --env=jsdom` ? Which we use to run tests?

[2017-02-02 14:35] marc-rutkowski commented on #71
@kedoska, @Fatxx, as mentioned by @lifeiscontent, providing a basic `.babelrc` file (containing the following snippet) into the project root folder, solves the problem.

[code]

Let us know if it works for you.

[2017-02-07 20:05] 7rulnik commented on #78
@macrozone @marc-rutkowski  you can disable your addons and decorators when running jest and mock react-storybook-addon-info.

[code]

[2017-02-07 20:13] macrozone commented on #78
@7rulnik: thank you very much, that's the solution!

[2017-02-07 20:13] #78 closed

[2017-02-13 17:31] tleunen opened #80 "Only snapshot the components instead of the entire page"
Currently, the produced snapshot is actually a snapshot of the entire Storybook page.

It would be a lot better if we only output the code related to the component. So that we can easily change the storybook page without impacting the snapshot. Also, it will help having a smaller snapshot and help the reviewers to focus on what's really important.

Here's an example of output of one of my componen

[2017-02-15 04:56] brandonmp commented on #80
this would also be helpful if one is using libraries that don't work well with snapshot testing--i'm just testing it out and it seems to conflict with `Aphrodite` and some parts of `Relay`, for example.

[2017-02-15 10:25] marc-rutkowski commented on #80
@tleunen do you use some addon? Maybe this is something related to #78 ?

[2017-02-15 13:50] tleunen commented on #80
@marc-rutkowski Oh yep I'm using the info addon. Will disable the plugin in test as suggested in your link. Thanks!

[2017-02-15 13:50] #80 closed

[2017-02-17 05:21] tmeasday opened #81 "Run without snaphsots"
Is it possible to run the storyshots w/o actually taking snapshots?

i.e. just to verify if the stories render, w/o checking for changes.

My use case would be early on in development when things are changing a lot, and I don't want to update snapshots all the time, but I still want to pick up errors. Also using something like https://github.com/mthuret/storybook-addon-specifications would make it

[2017-02-26 17:18] fredantell commented on #68
I'm running into the same issue. I have a <ContextProvider /> component I specifically created for testing. I can use a global addDecorator and it works fine with storybooks. Then when I run storyshot via jest it fails trying to find functions that should have been injected via context.

If I use addDecorator on a per story level it works fine in both storybooks and storyshots.
Similarly if I just

[2017-03-04 12:18] pyros2097 opened #82 "2 storyshots libraries???"
Why are there 2 storyshots libraries? Which one should I use. Its  seems they are different versions also.
npm i -D @kadira/storyshots
npm i -D storyshots

[2017-03-07 14:45] treyspiva opened #83 "Problems with applications using Material UI"
Our application uses Material UI.  I am trying to test the application UI Structure using Story Shots.  However, I am running into a few problems.  Some I have worked around, however one I have not.

**Able to Work Around**
In material-ui/src/internal/EnhancedButton.js they are doing a few things during the componentDidMount event.  Examples are:
- call injectStyle, uses document.createElement and

[2017-03-14 21:15] irnc commented on #71
Please have a look at https://github.com/storybooks/storyshots/pull/67#pullrequestreview-26933230 which added code related to babel config. The root cause for that issue seems to be in usage of `babelConfig` variable before its declaration.

[2017-03-15 08:06] xareelee opened #84 "[Suggestion] Separate snapshots into the folders close to each story"
Currently, the `.snap` files generated by storyshots will be put in the `__snapshots__` folder where the `Storyshots.test.js` is.

[code]

This results in a huge `.snap` file with thousands lines of code. It's hard for code review.

I think that the snapshots should be put in the  `__snapshots__` folder being close to the related `.stories`.

[code]

This will make code review easier. It's easy to

[2017-03-16 02:00] xareelee opened #85 "Using react-native-mock with storyshots will raise abnormal Error messages"
I'm developing React Native (RN) apps for iOS and Android.

I use [storyshots](https://github.com/storybooks/storyshots)/[storybook](https://github.com/storybooks/react-native-storybook) to snapshot the vDOM(s) of RN components with specific props for UI tests.

However, [Jest](https://facebook.github.io/jest/) lacks the functionality to mimic RN events to test whether the buttons work correctly.

[2017-03-16 09:26] xareelee opened #86 "Cannot read property 'decelerationRate' of undefined"
When I use jest/storyshots to run the snapshot tests. It shows an abnormal error (`TypeError: Cannot read property 'decelerationRate' of undefined `):

[code]

Source code:

[code]

Story:

[code]

The app displays normally. It seems something wrong when testing a DOM containing a `WebView`.

[2017-03-17 01:07] baptistemanson commented on #71
We were not able to get storyshots working at the same time as storybook and create-react-app using the workaround.
:(.

[2017-03-17 12:45] jrdrg commented on #86
Possibly the same issue referenced in https://github.com/storybooks/storyshots/pull/76?

[2017-03-18 19:02] irnc commented on #71
@baptistemanson For a workaround, you could move from ES6 to ES5 in `.storybook/config.js`, i.e. use `requite` instead of `import`, so unconfigured Babel would just pass without an error on unknown syntax.

Note, that original error is about unknown syntax in `.storybook/config.js`, not in `Storyshots.test.js`.

[2017-03-20 12:53] radosch opened #88 "storyshots example not working only leads to error"
FAIL  ./Storyshots.test.js Test suite failed to run

    Cannot find module '../../package' from 'node.js'

      at Resolver.resolveModule (node_modules/jest-resolve/build/index.js:169:17)
      at Object.<anonymous> (node_modules/babel-core/lib/api/node.js:60:16)

anyone has a clue / hint if this is a failure of implementation or a bug?
thnx a lot!

[2017-03-20 16:49] Kendos-Kenlen opened #89 "[help] Pass Babel config to storybook"
Hi,

To run our code, we need the plugin "syntax-object-rest-spread" to handle spreading.
However, when I run Jest with storyshots enabled, I have the following error in the file with storyshots enabled :

[code]

I don't have the error with storyshots disabled.

How can I solve this ?

Thank you for your help ! :)

[2017-03-20 17:09] bitflorist commented on #63
sorry, to reopen this, but on jest / snapshot, the behavior is normally asking to update the snapshot.
How would you update the snapshot?

Shouldn't it fail more gracefullyt then?

[code]

[2017-03-20 17:18] bitflorist commented on #63
UPDATE: solved, I refer to this great articel which describes all the options, which I successfully run now.
https://voice.kadira.io/snapshot-testing-in-react-storybook-43b3b71cec4f#.jc66i94bw

watch and interactive mode: yeah!
[code]

[2017-03-20 21:00] imontiel opened #90 "Since ReactDOM 15.4 is out, the require hijack should be removed from version 2"
Since ReactDOM 15.4.* is out, the require hijack should be removed so that stories that use overlays (such as react-bootstrap's `OverlayTrigger`) can be tested.

Currently, in [run_storyshots.js](https://github.com/storybooks/storyshots/blob/v2.1.0/bin/run_storyshots.js), the `ReactDOM` dependency is hijacked. This means any story that uses `unstable_renderSubtreeIntoContainer` or any other functi

[2017-03-24 09:46] jacobk commented on #68
I have this issue too with storyshots `3.2.2`.

[2017-03-26 15:50] olistic commented on #84
What do you guys think about having these two config options: `storyKindRegex` and `storyNameRegex` instead of the current `storyRegex`?

`storyNameRegex` would behave just as the existing `storyRegex`, while `storyKindRegex` would match against the story kind. This would give users the flexibility to do something like this:

[code]

[code]

Which will cause storyshots (or jest actually) to output

[2017-03-28 00:00] olistic opened #91 "Add regex to match the story's kind"
What do you guys think about having these two config options: `storyKindRegex` and `storyNameRegex` instead of the current `storyRegex`?

`storyNameRegex` would behave just as the existing `storyRegex`, while `storyKindRegex` would match against the story's kind, giving users more flexibility.

For example, it could be used to solve #84 doing something like this:

[code]

[code]

Which will cause

[2017-03-28 00:31] olistic commented on #91
I guess I'm submitting the PR anyway, it's simple enough and I need it for my projects.

[2017-03-30 08:47] botteu commented on #77
I have the same problem. I don't know where to look…

[2017-04-01 11:07] thani-sh commented on #82
Please use the `storyshots` module

[2017-04-02 07:48] benzaita commented on #18
@roonyh can you confirm this actually works in 3.0? It seems to me that Storyshots still can't handle webpack config

[2017-04-07 06:15] xareelee opened #95 "Please update the dependency for React-Native 0.43.x"
I upgraded React-Native from 0.42.0 to 0.43.2, and I encountered new test errors `Invariant Violation: addComponentAsRefTo(...)`:

[code]

I found that I have two version of `react` in my `node_modules` according to `yarn.lock`.

[code]

And I found only **storyshots** depends on `react@^15.4.1`:

[code]

Is the dependency necessary? Or could you update the dependency to latest react (`react@16.0.

[2017-04-07 20:29] ndelangen commented on #95
You're using an alpha version of react: `react@16.0.0-alpha.6`
'latest' react is `'15.4.2': '2017-01-06T20:16:25.738Z',`. Our version range should allow this version to be de-duplicated (and does according to your yarn.lock).

I don't feel we can add a react alpha version into our version range. What do you think about this @mnmtanish ?

[2017-04-08 03:36] alex35mil commented on #91
Why not just writing snapshots next to the stories file? W/o dummy regexp for each component.

[2017-04-08 03:59] xareelee commented on #95
@ndelangen Thanks for your reply.

I'm using the latest React-Native (v0.43.x) which depends on `react@16.0.0-alpha.6`, and it leads the storyshots broken when `jest`ing due to **having multiple copies of React**. We need the update for some fixes and features in RN 0.43.x.

Maybe we could modify the dependency of `storyshots` from `^15.4.1` to `>=15.4.1` (not sure) or `^15.4.1 || >=16.0.0-alpha.6

[2017-04-08 09:40] ndelangen commented on #95
If you edit the version range yourself and re-install does it work? If we're compatible with this version of React, I see no problem in adding it to our version range.

But if there's something we need to fix to support a alpha version, we can't just add it.

[2017-04-08 10:56] thani-sh commented on #95
@ndelangen yeah, we may end up making changes to storybook code to support alpha versions which may be unnecessary when the stable version comes out. @xareelee if it's okay, let's wait until an rc version comes out so it'll be stable enough.

[2017-04-08 15:25] xareelee commented on #95
Got it. I'll try it by myself.

How do I do that? Do you mean forking this repo and using it as a private module?

[2017-04-09 08:40] ndelangen commented on #95
That's one way, you can also edit the installed package..

[2017-04-10 02:44] xareelee commented on #95
@ndelangen

* I tried to edit the dependency in `./node_modules/storyshots/package.json` and run `yarn install`, but it didn't work.
* I tried to edit the dependency in `yarn.lock` and run `yarn install`, it seems OK. The tests are passed again.

Did I do right?

[2017-04-11 09:47] eric-burel opened #96 "head.html is not loaded"
In v2.1.0, `.storybook/head.html/` does not seem to be taken into account. My issue is that its where I load jQuery, which is mandatory for bootstrap to work (I found no other solution than using `head.html` to get Bootstrap working with webpack).
Edit: same issue with 3.1.1 so far, I am trying to find a solution.

[2017-04-11 10:38] eric-burel commented on #88
Don't forget to add json as a valid module extension in your jest config:
`
    "moduleFileExtensions": [
      "js", "jsx", "ts", "tsx", "json"
    ],
`
Indeed you can see in `babel-core` code that it loads the root `package.json` file.

[2017-04-12 16:25] willowcheng opened #97 "Can't use CSS module with storyshots"
Wish to use storyshots for snapshot feature of JEST while using CSS module. In JEST, I can use `identity-obj-proxy` to [mock CSS module](https://facebook.github.io/jest/docs/webpack.html#mocking-css-modules). BTW, might it be a good idea to bring mock functionality from JEST?

<img width="461" alt="screen shot 2017-04-12 at 12 24 59 pm" src="https://cloud.githubusercontent.com/assets/6239076/24968

[2017-04-15 20:08] #90 closed

[2017-04-15 20:08] #32 closed

[2017-04-15 20:08] #47 closed

[2017-04-15 20:08] #48 closed

[2017-04-15 20:08] #58 closed

[2017-04-15 20:08] #59 closed

[2017-04-15 20:08] #60 closed

[2017-04-15 20:08] #68 closed

[2017-04-15 20:08] #71 closed

[2017-04-15 20:08] #77 closed

[2017-04-15 20:08] #81 closed

[2017-04-15 20:08] #82 closed

[2017-04-15 20:08] #83 closed

[2017-04-15 20:08] #84 closed

[2017-04-15 20:08] #85 closed

[2017-04-15 20:08] #86 closed

[2017-04-15 20:08] #88 closed

[2017-04-15 20:08] #89 closed

[2017-04-15 20:08] #91 closed

[2017-04-15 20:08] #95 closed

[2017-04-15 20:08] #96 closed

[2017-04-15 20:08] #97 closed